@import "./variables";
@import "~bulma/bulma.sass";
@import "~bulma-helpers/bulma-helpers.sass";
@import "./utilities";
@import "./components";
@import "./transitions";

.app.columns {
  z-index: 4;
}

a {
  color: $accent;
}

a:hover, a:visited {
  color: darken($accent, 10%);
}
